In [1]:
!conda install -y -c python3 cartopy
!pip install geoplot pygeohash geopy shapely geos geopandas descartes

/bin/bash: conda: command not found
Collecting geoplot
  Downloading geoplot-0.4.3-py3-none-any.whl (29 kB)
Collecting pygeohash
  Downloading pygeohash-1.2.0.tar.gz (5.0 kB)
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (1.7.1)
Collecting geos
  Downloading geos-0.2.3-py3-none-any.whl (400 kB)
     |████████████████████████████████| 400 kB 11.7 MB/s
Collecting geopandas
  Downloading geopandas-0.9.0-py2.py3-none-any.whl (994 kB)
     |████████████████████████████████| 994 kB 49.4 MB/s
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting contextily>=1.0.0
  Downloading contextily-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from geoplot) (3.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from geoplot) (0.11.1)
Collecting cartopy
  Downloading Cartopy-0.19.0.post1.tar.gz (12.1 MB)
     |████████████████████████████████| 12.1 MB 127 kB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting mapclassify>=2.1
  Downloading mapclassify-2.4.3-py3-none-any.whl (38 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from geoplot) (1.1.5)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (7.1.2)
Collecting mercantile
  Downloading mercantile-1.2.1-py3-none-any.whl (14 kB)
Collecting rasterio
  Downloading rasterio-1.2.6-cp37-cp37m-manylinux1_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 1.3 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (2.23.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from contextily>=1.0.0->geoplot) (1.0.1)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (0.22.2.post1)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (2.5.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.1->geoplot) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->geoplot) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->geoplot) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->geoplot) (1.15.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from geos) (4.2.6)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from geos) (1.1.4)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp37-cp37m-manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 37 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.1.0-cp37-cp37m-manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 13.7 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.2.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.5.30)
Collecting pyshp>=2
  Downloading pyshp-2.1.3.tar.gz (219 kB)
     |████████████████████████████████| 219 kB 63.3 MB/s
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->geos) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->geos) (1.1.0)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->geos) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->geos) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->geoplot) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->geoplot) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->geoplot) (2.4.7)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->mapclassify>=2.1->geoplot) (4.4.2)
Collecting snuggs>=1.4.1
  Downloading snuggs-1.4.7-py3-none-any.whl (5.4 kB)
Collecting affine
  Downloading affine-2.3.0-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->contextily>=1.0.0->geoplot) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->contextily>=1.0.0->geoplot) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->contextily>=1.0.0->geoplot) (1.24.3)
Building wheels for collected packages: pygeohash, cartopy, pyshp
  Building wheel for pygeohash (setup.py) ... done
  Created wheel for pygeohash: filename=pygeohash-1.2.0-py2.py3-none-any.whl size=6168 sha256=b38cf3a6cbd0020a73b7b2859c459cccf810bca8eeb3c68738f67130fe9acefa
  Stored in directory: /root/.cache/pip/wheels/e2/ed/86/be7141d743cfb4aebac76406187154cd78fe9e6535d872187a
  Building wheel for cartopy (PEP 517) ... done
  Created wheel for cartopy: filename=Cartopy-0.19.0.post1-cp37-cp37m-linux_x86_64.whl size=12516274 sha256=01795b4bad9bfc82a7a16d5ec321b406deefe03fed4ce9616d40044e69a0ad4b
  Stored in directory: /root/.cache/pip/wheels/98/01/f7/bd10aeb96fe4b518cde5f7c4f5e12c7202f85b7353a5017847
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.3-py3-none-any.whl size=37324 sha256=e6f1c99988e1de2a3daae974ffbef64541ff970492634607b53d8d8df5bd4848
  Stored in directory: /root/.cache/pip/wheels/43/f8/87/53c8cd41545ba20e536ea29a8fcb5431b5f477ca50d5dffbbe
Successfully built pygeohash cartopy pyshp
Installing collected packages: snuggs, munch, cligj, click-plugins, affine, rasterio, pyshp, pyproj, mercantile, fiona, mapclassify, geopandas, contextily, cartopy, pygeohash, geos, geoplot
Successfully installed affine-2.3.0 cartopy-0.19.0.post1 click-plugins-1.1.1 cligj-0.7.2 contextily-1.1.0 fiona-1.8.20 geopandas-0.9.0 geoplot-0.4.3 geos-0.2.3 mapclassify-2.4.3 mercantile-1.2.1 munch-2.5.0 pygeohash-1.2.0 pyproj-3.1.0 pyshp-2.1.3 rasterio-1.2.6 snuggs-1.4.7

In [2]:
from geopy import distance as geodist
import pygeohash as pgh
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd
import base64
from shapely.geometry import Point, Polygon

In [13]:
date_parser = lambda x: pd.to_datetime(x)

In [16]:
voyages = pd.read_csv('./voyages.csv', parse_dates=['begin_date', 'end_date'], date_parser=date_parser)
voyages.head()

   vessel          begin_date            end_date  begin_port_id  end_port_id
0       1 2019-01-01 17:54:00 2019-01-16 22:59:00          138.0        102.0
1       1 2019-01-17 19:26:00 2019-02-13 16:43:00          102.0        138.0
2       1 2019-02-14 19:55:00 2019-03-01 10:51:00          138.0         33.0
3       1 2019-03-02 04:54:00 2019-03-16 06:53:00           33.0        138.0
4       1 2019-07-17 13:33:00 2019-08-12 23:43:00          138.0         72.0

Calculate time spent at port

In [62]:
time_spent = []

for i in range(len(voyages)):
    time_spent.append(voyages['end_date'].iloc[i] - voyages['begin_date'].iloc[i])

voyages = voyages.assign(time_spent = time_spent)
voyages

      vessel          begin_date  ... end_port_id       time_spent
0          1 2019-01-01 17:54:00  ...       102.0 15 days 05:05:00
1          1 2019-01-17 19:26:00  ...       138.0 26 days 21:17:00
2          1 2019-02-14 19:55:00  ...        33.0 14 days 14:56:00
3          1 2019-03-02 04:54:00  ...       138.0 14 days 01:59:00
4          1 2019-07-17 13:33:00  ...        72.0 26 days 10:10:00
...      ...                 ...  ...         ...              ...
2055     176 2019-07-28 14:51:00  ...       136.0  3 days 17:58:00
2056     176 2019-08-02 04:28:00  ...        64.0 12 days 04:27:00
2057     176 2019-11-03 18:57:00  ...        56.0 16 days 07:33:00
2058     176 2019-11-21 02:29:00  ...       136.0 11 days 19:19:00
2059     176 2019-12-03 15:55:00  ...        64.0  6 days 22:34:00

[2060 rows x 6 columns]

Calculate distance between two successive ports

In [109]:
distance = []
ports = pd.read_csv('./ports.csv', sep='\t')
ports = ports.reset_index(drop=True)
for i in range(len(voyages)):
  end_port = int(voyages['end_port_id'].iloc[i])
  begin_port = int(voyages['begin_port_id'].iloc[i])

  e_lat = ports.loc[ports['port'] == end_port].iloc[0][1]
  e_long = ports.loc[ports['port'] == end_port].iloc[0][2]
  b_lat = ports.loc[ports['port'] == begin_port].iloc[0][1]
  b_long = ports.loc[ports['port'] == begin_port].iloc[0][2]

  distance.append(geodist.distance((e_lat, e_long), (b_lat, b_long)).kilometers)

voyages = voyages.assign(distance = distance)
voyages

      vessel          begin_date  ...       time_spent      distance
0          1 2019-01-01 17:54:00  ... 15 days 05:05:00   7894.161113
1          1 2019-01-17 19:26:00  ... 26 days 21:17:00   7894.161113
2          1 2019-02-14 19:55:00  ... 14 days 14:56:00   7782.523134
3          1 2019-03-02 04:54:00  ... 14 days 01:59:00   7782.523134
4          1 2019-07-17 13:33:00  ... 26 days 10:10:00  11587.252161
...      ...                 ...  ...              ...           ...
2055     176 2019-07-28 14:51:00  ...  3 days 17:58:00   2307.565977
2056     176 2019-08-02 04:28:00  ... 12 days 04:27:00   2307.565977
2057     176 2019-11-03 18:57:00  ... 16 days 07:33:00   3643.242907
2058     176 2019-11-21 02:29:00  ... 11 days 19:19:00   2166.672542
2059     176 2019-12-03 15:55:00  ...  6 days 22:34:00   2307.565977

[2060 rows x 7 columns]

Calculate efficiency

In [115]:
efficiency = []
for i in range(len(voyages)):
  time = (voyages['time_spent'].iloc[i]) / pd.offsets.Day()
  efficiency.append(voyages['distance'].iloc[i]/time)

voyages = voyages.assign(efficiency = efficiency)
voyages

      vessel          begin_date  ...      distance  efficiency
0          1 2019-01-01 17:54:00  ...   7894.161113  518.949646
1          1 2019-01-17 19:26:00  ...   7894.161113  293.607253
2          1 2019-02-14 19:55:00  ...   7782.523134  532.239424
3          1 2019-03-02 04:54:00  ...   7782.523134  552.632443
4          1 2019-07-17 13:33:00  ...  11587.252161  438.518873
...      ...                 ...  ...           ...         ...
2055     176 2019-07-28 14:51:00  ...   2307.565977  615.578920
2056     176 2019-08-02 04:28:00  ...   2307.565977  189.371118
2057     176 2019-11-03 18:57:00  ...   3643.242907  223.312041
2058     176 2019-11-21 02:29:00  ...   2166.672542  183.540706
2059     176 2019-12-03 15:55:00  ...   2307.565977  332.488994

[2060 rows x 8 columns]

In [191]:
heading = []
tracking = pd.read_csv('./tracking.csv', sep='\t', parse_dates=['datetime'], date_parser=date_parser)

In [192]:
tracking = tracking.sort_values(['vessel', 'datetime'])
tracking

        vessel            datetime        lat       long  heading  speed  draft
629483       1 2019-01-01 01:53:00  29.743000 -93.869500    214.0    NaN    9.6
629484       1 2019-01-01 02:47:00  29.743000 -93.869500    214.0    0.0    9.6
629485       1 2019-01-01 05:47:00  29.743000 -93.869500    214.0    0.0    9.6
629486       1 2019-01-01 06:59:00  29.743000 -93.869500    214.0    0.0    9.6
629487       1 2019-01-01 08:53:00  29.743000 -93.869500    214.0    0.0    9.6
...        ...                 ...        ...        ...      ...    ...    ...
792015     176 2019-12-23 17:29:00  51.888150   1.672528    199.0    0.6   10.9
792017     176 2019-12-23 18:53:00  51.889468   1.674938    220.0    0.1   10.9
792018     176 2019-12-23 18:59:00  51.889498   1.674873    217.0    0.0   10.9
792019     176 2019-12-23 18:59:00  51.889498   1.674873    217.0    0.0   10.9
792020     176 2019-12-23 21:56:00  51.889737   1.673683    194.0    0.0   10.9

[802668 rows x 7 columns]

In [202]:
for i in range(len(voyages)):
  vessel = voyages['vessel'].iloc[i]
  end_date = voyages['end_date'].iloc[i]
  newtracking = tracking.loc[tracking['vessel'] == vessel]
  newtracking = newtracking.loc[newtracking['datetime'] == end_date]
  heading.append(newtracking.iloc[0][4])

voyages['heading'] = heading
voyages

      vessel          begin_date  ...  efficiency  heading
0          1 2019-01-01 17:54:00  ...  518.949646    255.0
1          1 2019-01-17 19:26:00  ...  293.607253    213.0
2          1 2019-02-14 19:55:00  ...  532.239424     91.0
3          1 2019-03-02 04:54:00  ...  552.632443    214.0
4          1 2019-07-17 13:33:00  ...  438.518873    246.0
...      ...                 ...  ...         ...      ...
2055     176 2019-07-28 14:51:00  ...  615.578920    337.0
2056     176 2019-08-02 04:28:00  ...  189.371118    228.0
2057     176 2019-11-03 18:57:00  ...  223.312041    278.0
2058     176 2019-11-21 02:29:00  ...  183.540706    337.0
2059     176 2019-12-03 15:55:00  ...  332.488994    228.0

[2060 rows x 9 columns]

In [204]:
voyages.to_csv('dataset.csv')

In [208]:
corr = voyages.corr()
corr.style.background_gradient(cmap='coolwarm')